.moreGrid {
    display: grid;
    grid-template-areas :
    "otherHeader otherHeader"
    "left right"
    "otherFooter otherFooter"
}

  .otherHeader {
    grid-area: otherHeader;
    height: 64px;
    background-color: lightblue;
  }
 
  .left {
    grid-area: left;
    background-color: pink;
    height: 150px;
  }

  .right {
    grid-area: right;
    height: 150px;
    background-color: yellowgreen;

  }
  .otherFooter {
    grid-area: otherFooter;
    height: 64px;
    background-color: lightcoral;
  } 

  .flexbox {
    display: flex;
    flex-direction: column;
    margin-top: 4em;

    .flexHeader {
        height: 64px;
        background-color: palegoldenrod;
    }

    .bodyContainer {
        display: flex;
        flex-direction: row;

        .flexLeft, .flexRight {
            width: 50%;
            height: 150px;
        }

        .flexLeft {
            background-color: peachpuff;
        }

        .flexRight {
            background-color: palevioletred;
        }
    }

    .flexFooter {
        height: 64px;
        background-color: paleturquoise;
    }
  }